<div class="contacts__card footer__card">
  <div class="contacts__content">
    <div class="card__title">
      <p>Contacts <%= contact.city %></p>
      <p class="card__title--underline"></p>
    </div>
    <div class="card__info">
      <p><%= contact.address_one %></p>
      <p><%= contact.address_two %></p>
      <p><%= contact.contact %></p>
      <p><%= contact.email %></p>
      <p><%= contact.hours %></p>
    </div>
  </div>
</div>
